@charset "UTF-8";

.content {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.left-wrapper {
	flex: 1;
}

/*サーチバー*/
.search-bar {
	height: 190px;
	display: flex;
	border-bottom: 5px solid rgb(199, 199, 199);
	width: 100%;
}

.search-bar-inner {
	display: flex;
	width: 100%;
	align-items: center;
	gap: 40px;
}

.search-result-keyword{
	width: 200px;
}

.search-bar form {
	display: flex;
	padding-left: 70px;
	align-items: center;
}

.search-input {
	border: 1px solid rgb(199, 199, 199);
	border-radius: 10px;
	height: 50px;
	width: 300px;
	margin-right: 10px;
	padding-left: 10px;
}

.search-button {
	width: 50px;
	height: 50px;
}


/*リスト*/
.avatar-img {
	width: 50px;
	height: 50px;
}

.user-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	padding: 40px;
}

.user-item {
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.user {
	display: flex;
	align-items: center;
	gap: 30px;
}

.btn-unfollow {
	background-color: #e0245e;
	/* 赤系 */
	color: #fff;
}

.btn-follow {
	background-color: rgb(41, 80, 255);
	color: white;
}




/*フォローフォロワーリストへのボタン*/